body {
    background-color: #073B4C;
    margin: 0px;
    font-family: Arial;
}
main {
    position:relative;
    background-color: white;
    margin:auto;
    top:+100px;
    width: 50vw;
    height:400px;
    box-shadow: grey 0 0 8px;
    border-radius: 10px;
}
@media screen and (max-width: 1400px) {
    main {
        width:80vw;
    }
}
nav a {
    padding:10px;
    text-decoration: none;
    vertical-align: center;
    border-left: 1px dotted #073B4C;
    color:grey;
}
nav a:hover {
    background-color: #073B4C;
    color: white;
    cursor:pointer;
}
nav .active{
    background-color: #118AB2;
    color:white;
}
nav h1 {
    padding:10px 30px;
    margin:0;
    color: #118AB2;
    font-size: 18px;
}
nav {
    width:100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted #073B4C;
}
article {
    padding: 30px;
    width:100%;
}
#experience, #coding, #security {
    display:none;
}
section {
    display:flex;
    flex-direction: row;
    height:100%;
}
header {
    padding: 10px;
    height: 100%;
    border-right: 1px dotted #073B4C;
}
header img {
    width:150px;
    margin:10px;
    box-shadow: 0 0 3px grey;
}
header h2 {
    padding:10px;
    margin:0;
    color: #073B4C;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
header span {
    display:block;
    padding:5px;
    text-align: center;
}
@media screen and (max-width: 700px) {
    nav {
        flex-direction: column;
    }
    main {
        height:auto;
        top:+40px;
    }
    header img {
        width:100px;
        margin:5px;
        box-shadow: 0 0 3px grey;
    }
    header {
        font-size: 10px;
    }
}